<div class="text-center">
	<h1><strong>Contact</strong></h1>
</div>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>